.model{
    background-color: dodgerblue;
    border: 5px solid mediumseagreen;
    padding: 1px;
    margin: 5px;
}
.body{
    border: 5px solid;
    padding: 10px;
    margin-bottom: 5px;
}
.header{
    border: 5px solid;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.footer{
    border: 5px solid;
    padding: 10px;
}
.btn{
    
    border-radius: 50%;
    border: none;
    padding: 6px 13.5px;
    font-size: 16px;
    font-weight: bold;
    background-color: tomato;
}
.btn:hover{
    background-color: rgb(238, 53, 53);
}
.mode-container{
    height: 100vh;
    background-color: black;
}
.show-btn-model{
    display: flex;
    justify-content: center;
}
.show-btn-model button{
    margin: 10px;
    padding: 10px 30px;
    font-weight: 500;
    background-color: rgb(156, 189, 221);
    border: none;
    color: rgb(1, 1, 4);
    border-radius: 10px;
}