img{
    width: 100px;
    height: 100px;
}
.load-container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    gap: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.product{
    padding: 20px;
    border: 1px solid;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.btn button{
    
    padding: 5px 10px;
}