:root{
    --background: #ffffff;
    --text-primary: #000000;
    --button-bg: #000000;
    --button-text: #ffffff;
}
[dark-theme="dark"] {
    --background: #000000;
    --text-primary: #ffffff;
    --button-bg: #ffffff;
    --button-text: #000000;
}
.light-dark-mode{
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s;
}
.container{
    display: flex;
    gap: 10px;
    
}
.light-dark-mode button{
    background-color: var(--button-bg);
    color: var(--button-text); 
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
}