.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
/* .wrapper button{
    background-color: mediumseagreen;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
} */

.btnActive{
    background-color: tomato;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}
.btnNotActive{
    background-color: mediumseagreen;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}
.accordion{
    width: 500px;
    
}
/* 
    border: 1px solid rgb(113, 174, 227);

 */
 .box{
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: dodgerblue;
 }
.questions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.questions span{
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: dodgerblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}
.content{
    font-size: 18px;
    height: auto;
}